{{#repo-breadcrumbs}}
  {{#link-to "index"}}distributions{{/link-to}}
  /
  {{model.distro}}
{{/repo-breadcrumbs}}

{{outlet}}

<h2 class="ui header">Paquetes en {{model.distro}}</h2>

<table class="ui celled striped table">

  <thead>
    <tr>
      <th>Nombre</th>
      <th>Componente</th>
      <th>Arquitecturas</th>
      <th>Versiones</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |package|}}
      {{repo-package-in-distro-row distro=model.distro package=package}}
    {{else}}
      <tr>
        <td colspan=4>No hay dsitribuciones para mostrar.</td>
      </tr>
    {{/each}}

  </tbody>
</table>
